In [1]:
import pandas as pd
import sqlalchemy
import json
from datetime import datetime
from sqlalchemy import create_engine
from decouple import config

In [2]:
#from decouple import config

db_conn = config('conn', default= '')
data_url = config('data_url', default= '')

db_conn, data_url

('postgresql://bi_user:password@66.94.120.221:5432/testdb',
 'https://data.cityofchicago.org/resource/ijzp-q8t2.json')

In [3]:
# db_conn = 'postgresql://bi_user:password@66.94.120.221:5432/testdb'
# data_url = 'https://data.cityofchicago.org/resource/ijzp-q8t2.json'

In [4]:
# import pandas as pd
# import json
# from sqlalchemy import create_engine
engine = create_engine(db_conn)

In [5]:
url = data_url

In [6]:
json_data = pd.read_json(url)
json_data.head(2)

,id,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,longitude,location,:@computed_region_awaf_s7ux,:@computed_region_6mkv_f3dw,:@computed_region_vrxf_vc4k,:@computed_region_bdys_3d7i,:@computed_region_43wa_7qmu,:@computed_region_rpca_8um6,:@computed_region_d9mm_jgwp,:@computed_region_d3ds_rm58
0,26368,JE410097,2021-10-14 23:59:00,031XX W POLK ST,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,False,False,...,-87.704288,"{'latitude': '41.870972096', 'longitude': '-87...",36.0,21184.0,28.0,36.0,14.0,28.0,16.0,140.0
1,12512668,JE410418,2021-10-14 23:50:00,012XX N LA SALLE DR,0820,THEFT,$500 AND UNDER,STREET,False,False,...,-87.632937,"{'latitude': '41.90434894', 'longitude': '-87....",51.0,14926.0,37.0,17.0,11.0,54.0,14.0,198.0

In [7]:
json_data.columns

Index(['id', 'case_number', 'date', 'block', 'iucr', 'primary_type',
       'description', 'location_description', 'arrest', 'domestic', 'beat',
       'district', 'ward', 'community_area', 'fbi_code', 'x_coordinate',
       'y_coordinate', 'year', 'updated_on', 'latitude', 'longitude',
       'location', ':@computed_region_awaf_s7ux',
       ':@computed_region_6mkv_f3dw', ':@computed_region_vrxf_vc4k',
       ':@computed_region_bdys_3d7i', ':@computed_region_43wa_7qmu',
       ':@computed_region_rpca_8um6', ':@computed_region_d9mm_jgwp',
       ':@computed_region_d3ds_rm58'],
      dtype='object')

In [8]:
json_data = json_data[json_data.columns.drop(list(json_data.filter(regex='@computed')))].drop(columns= 'location')
#del json_data['location']
json_data['load_time'] = datetime.now()

In [9]:
json_data.describe()

,id,beat,district,ward,community_area,x_coordinate,y_coordinate,year,latitude,longitude
count,1.000000e+03,1000.000000,1000.000000,1000.000000,1000.000000,9.680000e+02,9.680000e+02,1000.0,968.000000,968.000000
mean,1.246240e+07,1137.827000,11.151000,22.389000,36.607000,1.166467e+06,1.884952e+06,2021.0,41.839868,-87.664668
std,7.884975e+05,684.595932,6.839955,13.918599,21.488423,1.540016e+04,3.101036e+04,0.0,0.085269,0.056049
min,2.636400e+04,111.000000,1.000000,1.000000,1.000000,1.100658e+06,1.815478e+06,2021.0,41.648929,-87.905227
25%,1.251148e+07,612.000000,6.000000,9.000000,23.000000,1.155486e+06,1.858192e+06,2021.0,41.766115,-87.704851
50%,1.251205e+07,1023.000000,10.000000,23.000000,32.000000,1.167776e+06,1.891444e+06,2021.0,41.857711,-87.659785
75%,1.251253e+07,1723.000000,17.000000,33.000000,53.000000,1.176950e+06,1.907362e+06,2021.0,41.901573,-87.626090
max,1.251831e+07,2535.000000,25.000000,50.000000,77.000000,1.204544e+06,1.951318e+06,2021.0,42.022063,-87.527258

In [10]:
json_data.dtypes

id                               int64
case_number                     object
date                    datetime64[ns]
block                           object
iucr                            object
primary_type                    object
description                     object
location_description            object
arrest                            bool
domestic                          bool
beat                             int64
district                         int64
ward                             int64
community_area                   int64
fbi_code                        object
x_coordinate                   float64
y_coordinate                   float64
year                             int64
updated_on                      object
latitude                       float64
longitude                      float64
load_time               datetime64[ns]
dtype: object

In [12]:
json_data.to_sql('crime_data', engine,  if_exists= 'replace')
print('Successfully sent to sql db at', datetime.now())

Successfully sent to sql db at 2021-10-22 16:23:49.617052