In [1]:
from decouple import config

db_conn = config('conn', default= '')
data_url = config('data_url', default= '')

postgresql://bi_user:password@66.94.120.221:5432/testdb

In [3]:
import pandas as pd
import json
from sqlalchemy import create_engine
engine = create_engine(db_conn)

In [4]:
url = data_url

In [5]:
json_data = pd.read_json(url)
json_data.head(2)

,id,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,longitude,location,:@computed_region_awaf_s7ux,:@computed_region_6mkv_f3dw,:@computed_region_vrxf_vc4k,:@computed_region_bdys_3d7i,:@computed_region_43wa_7qmu,:@computed_region_rpca_8um6,:@computed_region_d9mm_jgwp,:@computed_region_d3ds_rm58
0,12488667,JE380593,2021-09-18 23:59:00,0000X W Hubbard St,0870,THEFT,POCKET-PICKING,BAR OR TAVERN,False,False,...,-87.628914,"{'latitude': '41.890051565', 'longitude': '-87...",22.0,4446.0,37.0,669.0,36.0,55.0,14.0,73.0
1,12486808,JE379005,2021-09-18 23:55:00,080XX S WOOD ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,False,True,...,-87.668236,"{'latitude': '41.748017376', 'longitude': '-87...",18.0,21554.0,70.0,574.0,31.0,59.0,20.0,231.0

In [6]:
json_data.describe()

,id,beat,district,ward,community_area,x_coordinate,y_coordinate,year,latitude,longitude,:@computed_region_awaf_s7ux,:@computed_region_6mkv_f3dw,:@computed_region_vrxf_vc4k,:@computed_region_bdys_3d7i,:@computed_region_43wa_7qmu,:@computed_region_rpca_8um6,:@computed_region_d9mm_jgwp,:@computed_region_d3ds_rm58
count,1.000000e+03,1000.000000,1000.000000,1000.000000,1000.00000,9.850000e+02,9.850000e+02,1000.0,985.000000,985.000000,983.000000,985.000000,985.000000,984.000000,985.000000,985.000000,985.000000,985.000000
mean,1.242447e+07,1162.398000,11.394000,23.649000,35.20600,1.165309e+06,1.886668e+06,2021.0,41.844599,-87.668872,28.091556,19079.331980,38.368528,380.558943,26.185787,33.132995,14.741117,145.782741
std,8.793238e+05,670.003914,6.695341,13.785494,21.44802,1.564626e+04,3.130899e+04,0.0,0.086095,0.056940,14.939926,5692.253512,19.205649,235.420566,14.167802,18.943261,6.311123,79.730093
min,2.629800e+04,111.000000,1.000000,1.000000,1.00000,1.116632e+06,1.814935e+06,2021.0,41.647447,-87.846470,1.000000,4299.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,1.248594e+07,613.000000,6.000000,10.000000,20.00000,1.154695e+06,1.860202e+06,2021.0,41.772163,-87.707718,15.000000,21184.000000,26.000000,159.000000,14.000000,19.000000,10.000000,77.000000
50%,1.248644e+07,1111.000000,11.000000,24.000000,30.00000,1.166298e+06,1.894051e+06,2021.0,41.864961,-87.665174,29.000000,21560.000000,37.000000,378.000000,26.000000,31.000000,15.000000,149.000000
75%,1.248705e+07,1732.000000,17.000000,34.000000,52.00000,1.176342e+06,1.910126e+06,2021.0,41.909343,-87.628704,41.000000,22216.000000,55.000000,578.250000,37.000000,53.000000,20.000000,218.000000
max,1.249275e+07,2535.000000,25.000000,50.000000,77.00000,1.204455e+06,1.950802e+06,2021.0,42.020598,-87.526976,53.000000,26615.000000,76.000000,801.000000,50.000000,61.000000,25.000000,277.000000

In [7]:
json_data.columns

Index(['id', 'case_number', 'date', 'block', 'iucr', 'primary_type',
       'description', 'location_description', 'arrest', 'domestic', 'beat',
       'district', 'ward', 'community_area', 'fbi_code', 'x_coordinate',
       'y_coordinate', 'year', 'updated_on', 'latitude', 'longitude',
       'location', ':@computed_region_awaf_s7ux',
       ':@computed_region_6mkv_f3dw', ':@computed_region_vrxf_vc4k',
       ':@computed_region_bdys_3d7i', ':@computed_region_43wa_7qmu',
       ':@computed_region_rpca_8um6', ':@computed_region_d9mm_jgwp',
       ':@computed_region_d3ds_rm58'],
      dtype='object')

In [8]:
column_list = ['id', 'case_number', 'date', 'block', 'iucr', 'primary_type',
       'description', 'location_description', 'arrest', 'domestic', 'beat',
       'district', 'ward', '1munity_area', 'fbi_code', 'x_coordinate',
       'y_coordinate', 'year', 'updated_on', 'latitude', 'longitude',
       'location', 'computed_region_awaf_s7ux', 'computed_region_6mkv_f3dw',
       'computed_region_vrxf_vc4k', 'computed_region_bdys_3d7i',
       'computed_region_43wa_7qmu', 'computed_region_rpca_8um6',
       'computed_region_d9mm_jgwp', 'computed_region_d3ds_rm58']
json_data.columns = column_list
json_data.columns

Index(['id', 'case_number', 'date', 'block', 'iucr', 'primary_type',
       'description', 'location_description', 'arrest', 'domestic', 'beat',
       'district', 'ward', '1munity_area', 'fbi_code', 'x_coordinate',
       'y_coordinate', 'year', 'updated_on', 'latitude', 'longitude',
       'location', 'computed_region_awaf_s7ux', 'computed_region_6mkv_f3dw',
       'computed_region_vrxf_vc4k', 'computed_region_bdys_3d7i',
       'computed_region_43wa_7qmu', 'computed_region_rpca_8um6',
       'computed_region_d9mm_jgwp', 'computed_region_d3ds_rm58'],
      dtype='object')

In [9]:
json_data.dtypes

id                                    int64
case_number                          object
date                         datetime64[ns]
block                                object
iucr                                 object
primary_type                         object
description                          object
location_description                 object
arrest                                 bool
domestic                               bool
beat                                  int64
district                              int64
ward                                  int64
1munity_area                          int64
fbi_code                             object
x_coordinate                        float64
y_coordinate                        float64
year                                  int64
updated_on                           object
latitude                            float64
longitude                           float64
location                             object
computed_region_awaf_s7ux           float64
computed_region_6mkv_f3dw           float64
computed_region_vrxf_vc4k           float64
computed_region_bdys_3d7i           float64
computed_region_43wa_7qmu           float64
computed_region_rpca_8um6           float64
computed_region_d9mm_jgwp           float64
computed_region_d3ds_rm58           float64
dtype: object

In [10]:
json_data = json_data.astype(str)

In [11]:
json_data.to_sql('crime_data', engine,  if_exists= 'replace')
print('Successfully sent to sql db')

Successfully sent to sql db