In [49]:
import pandas as pd
import json

In [50]:
url = "https://data.cityofchicago.org/resource/ijzp-q8t2.json"

In [51]:
json_data = pd.read_json(url)
json_data.head(2)

,id,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,longitude,location,:@computed_region_awaf_s7ux,:@computed_region_6mkv_f3dw,:@computed_region_vrxf_vc4k,:@computed_region_bdys_3d7i,:@computed_region_43wa_7qmu,:@computed_region_rpca_8um6,:@computed_region_d9mm_jgwp,:@computed_region_d3ds_rm58
0,12485372,JE377024,2021-09-14 23:56:00,001XX N PARKSIDE AVE,0265,CRIMINAL SEXUAL ASSAULT,AGGRAVATED - OTHER,ALLEY,False,False,...,-87.766608,"{'latitude': '41.88314073', 'longitude': '-87....",52.0,22216.0,26.0,618.0,7.0,32.0,25.0,85.0
1,12482818,JE373979,2021-09-14 23:50:00,001XX W 71ST ST,1812,NARCOTICS,POSSESS - CANNABIS MORE THAN 30 GRAMS,STREET,True,False,...,-87.629072,"{'latitude': '41.765446324', 'longitude': '-87...",31.0,21559.0,67.0,494.0,32.0,11.0,17.0,210.0

In [52]:
json_data.describe()

,id,beat,district,ward,community_area,x_coordinate,y_coordinate,year,latitude,longitude,:@computed_region_awaf_s7ux,:@computed_region_6mkv_f3dw,:@computed_region_vrxf_vc4k,:@computed_region_bdys_3d7i,:@computed_region_43wa_7qmu,:@computed_region_rpca_8um6,:@computed_region_d9mm_jgwp,:@computed_region_d3ds_rm58
count,1.000000e+03,1000.000000,1000.000000,1000.000000,1000.00000,9.830000e+02,9.830000e+02,1000.0,983.000000,983.000000,982.000000,983.000000,982.000000,981.00000,982.000000,982.000000,982.000000,982.000000
mean,1.242029e+07,1143.579000,11.203000,22.382000,37.54400,1.165630e+06,1.884642e+06,2021.0,41.839031,-87.667761,28.234216,19071.613428,39.675153,386.27421,25.965377,31.705703,15.047862,151.798371
std,8.790282e+05,693.605333,6.932666,14.136333,21.93849,1.687162e+04,3.248038e+04,0.0,0.089337,0.061384,14.940525,5708.532513,19.729914,239.70503,14.310907,18.889991,6.284842,78.931835
min,2.628100e+04,111.000000,1.000000,1.000000,1.00000,1.100658e+06,1.814512e+06,2021.0,41.645796,-87.905227,1.000000,4299.000000,1.000000,1.00000,1.000000,1.000000,1.000000,4.000000
25%,1.248175e+07,611.000000,6.000000,9.000000,23.00000,1.153920e+06,1.857834e+06,2021.0,41.765005,-87.710229,16.000000,21184.000000,26.000000,168.00000,13.000000,16.000000,10.000000,86.000000
50%,1.248236e+07,1022.000000,10.000000,21.000000,32.00000,1.167557e+06,1.890521e+06,2021.0,41.854939,-87.660802,30.000000,21560.000000,37.000000,399.00000,26.500000,30.000000,16.000000,153.500000
75%,1.248285e+07,1723.000000,17.000000,34.000000,56.00000,1.176628e+06,1.908573e+06,2021.0,41.904998,-87.627477,41.000000,22216.000000,58.000000,587.00000,37.000000,49.750000,20.000000,225.000000
max,1.248899e+07,2535.000000,25.000000,50.000000,77.00000,1.204544e+06,1.950365e+06,2021.0,42.019529,-87.527258,53.000000,22620.000000,76.000000,801.00000,50.000000,61.000000,25.000000,277.000000

In [53]:
json_data.columns

Index(['id', 'case_number', 'date', 'block', 'iucr', 'primary_type',
       'description', 'location_description', 'arrest', 'domestic', 'beat',
       'district', 'ward', 'community_area', 'fbi_code', 'x_coordinate',
       'y_coordinate', 'year', 'updated_on', 'latitude', 'longitude',
       'location', ':@computed_region_awaf_s7ux',
       ':@computed_region_6mkv_f3dw', ':@computed_region_vrxf_vc4k',
       ':@computed_region_bdys_3d7i', ':@computed_region_43wa_7qmu',
       ':@computed_region_rpca_8um6', ':@computed_region_d9mm_jgwp',
       ':@computed_region_d3ds_rm58'],
      dtype='object')